@import 'bootstrap/bootstrap.less';
@import 'fragments.less';
@import 'input-groups.less';
@import 'navbar.less';
@import 'animate.less';

// TODO remvoe 'conversation-' from names?
@conversation-hover-bg: #9abab2;
@conversation-active-bg: #a9d0cc;
@conversation-active-hover-bg: #ccddd5;
// @conversation-hover-bg: @nav-link-hover-bg;
// @conversation-active-bg: @brand-primary;
// @conversation-active-hover-bg: @conversation-active-bg;


html, body {
    width: 100%;
    height: 100%;
    -webkit-text-size-adjust: none;
}

body {
    padding-top: 70px
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}    

.wrap, .main {
    height: 100%;
}

.conversations {
    height: 100%;
}


// .conversation {
//     height: 51px;
//     clear: both;
//     border-bottom: 1px solid gray;
//     cursor: pointer;

//     .image {
//         position: relative;
//         float: left;

//         // Prevent columns from collapsing when empty
//         min-height: 1px;
//         // Inner gutter via padding
//         padding-right: (@grid-gutter-width / 2);

//         width: 50px;
//         height: 50px;
//     }

//     &.unread {
//         background-color: #ccc;
//     }

//     .topic, .recipent {
//         float: left;
//         font-weight: bold;
//         padding-left: 10px;
//     }

//     .date {
//         float: left;
//         padding-left: 10px;
//     }

//     &:hover {
//         background-color: @conversation-hover-bg;
//     }

//     &.selected {
//         background-color: @conversation-active-bg;

//         &:hover {
//             background-color: @conversation-active-hover-bg;
//         }
//     }

//     &:last-child {
//         border-bottom: none;
//     }
// }


.note-content {
    h1, .h1 { font-size: floor(@font-size-base * 2.60 * 0.7); }
    h2, .h2 { font-size: floor(@font-size-base * 2.15 * 0.7); }
    h3, .h3 { font-size: ceil( @font-size-base * 1.70 * 0.7); }
}

.message {
    min-height: 60px;
    .clearfix();

    .image {
        float: left;
        width: 50px;
        height: 50px;
        margin: 0px 10px 10px 0px;
    }

    .content {
        clear: right;
    }

    .info {
        font-weight: bold;
    }

    &.self {
        background-color: #e3e3e3;
    }
}

/*.group-edit,  //.user
.user-list,   //.user
.group-list,  //.group
.note-list    //.note
.conversation-list, //.conversation
.conversation-new, //.user, .group
{
    .user, .group, .note, .conversation {
        cursor: pointer;

        &.selected {
            background-color: @conversation-active-bg;

            &:hover {
                background-color: @conversation-active-hover-bg;
            }
        }

        &:hover {
            background-color: @conversation-hover-bg;
        }

        .name {
            line-height: 50px;
        }
    }
}*/

.list (@name) {
  padding-left: 15px;
  padding-right: 15px;

  > .@{name} {
    .clearfix();
    cursor: pointer;
    height: 50px;
    margin-bottom: 5px;

    &.selected {
      background-color: @conversation-active-bg;

      &:hover {
        background-color: @conversation-active-hover-bg;
      }
    }

    &:hover {
      background-color: @conversation-hover-bg;
    }

    .name {
      line-height: 50px;
    }
  }
}

.user-list{
  .list(user);
}

.note-list {
  .list(note);

  > .note {
    margin-bottom: 0px;
    border-bottom: 1px solid @table-border-color;
    padding-top: 14px;

    &:first-child {
      border-top: 1px solid @table-border-color;
    }
  }
}

.group-list,
.group-edit {
  .list(group);
}

.conversation-list {
  .list(conversation);

  > .conversation {
    > .content {
      > .topic {
        font-weight: bold;
      }
    }
  }
}


.user, .group, .conversation {
    // clear: both;
    // height: 50px;
    // margin-bottom: 5px;

    .image {
        float: left;
        margin-right: 10px;
    }
}

.hidden-menu {

  position:absolute;
  background-color: @navbar-default-bg;
  top: -1px;
  left: -1px;
  width: 300px;
  min-height: 100%;
  z-index: 1031;

  transition: left ease-in-out 0.4s;
  opacity: 1;
  display: block;

  &.hidden-menu-hide {
    top: -1px;
    left: -300px;
  }



  .nav-stacked {

      .divider {
          background-color: #E5E5E5;
          height: 1px;
          margin: 9px 0;
          overflow: hidden;
      }
      a {
        color: @navbar-default-link-color;
      }

      > .active {
        color: @navbar-default-link-active-color;
        background-color: @navbar-default-link-active-bg;
      }
  }
}