<button ng-click="deleteNote()" ng-show="note._id" class="btn btn-default">Slett dette notatet</button>

<div class="form-group">
    <label for="name">Navn</label>
    <input type="text" id="name" class="form-control" ng-model="note.name">
</div>

<ul class="nav nav-tabs" ng-init="tab = 'edit'">
    <li ng-class="{active: tab == 'edit'}"><a ng-click="tab = 'edit'" class="btn">Rediger</a></li>
    <li ng-class="{active: tab == 'preview'}"><a ng-click="tab = 'preview'" class="btn">Forhåndsvis</a></li>
</ul>

<div ng-show="tab == 'edit'">
    <div class="form-group">
        <label for="content">Innhold</label>
        <textarea class="form-control" id="content" ng-model="note.content" rows="15"></textarea>
    </div>
</div>

<div ng-show="tab == 'preview'">
    <div class="form-group">
        <div class="note-content" ng-bind-html="note.content | marked"></div>
    </div>
</div>