<div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 note" ng-if="note">

        <button ng-click="saveNote()" class="btn btn-default">Lagre</button>

        <div class="form-group">
            <label for="name">Navn</label>
            <input type="text" id="name" class="form-control" ng-model="note.name">
</div>
        <div class="form-group">
            <label for="content">Innhold</label>
            <textarea class="form-control" id="content" ng-model="note.content" rows="15"></textarea>

        </div>
    </div>
</div>