<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="/styles/main.less">
    <!-- endbuild -->

    <script>
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            msViewportStyle.appendChild(
                    document.createTextNode(
                            "@-ms-viewport{width:auto!important}"
                    )
            );
            document.getElementsByTagName("head")[0].
                    appendChild(msViewportStyle);
        }
    </script>
</head>
  <body ng-app="kundestyrtApp">
    <div class="wrap" ng-init="val.showHiddenMenu = false">
      <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <!--[if lt IE 9]>
        <script src="/bower_components/es5-shim/es5-shim.js"></script>
        <script src="/bower_components/json3/lib/json3.min.js"></script>
      <![endif]-->

        <div ng-cloak class="hidden-menu" ng-class="{'hidden-menu-hide': !val.showHiddenMenu, 'hidden-menu-show': val.showHiddenMenu}" ng-click="val.showHiddenMenu = false">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <a class="left arrow">&nbsp;</a>
                    <span class="title">Meny</span>
                </div>
            </nav>
            <ul class="nav nav-stacked">
                <li ng-class="{active: $isActive('/') || $isActive('/conversation%')}"><a href="#/">Samtaler</a></li>
                <li ng-class="{active: $isActive('/notes')}"><a href="#/notes">Notater</a></li>
                <li class="divider"></li>
                <li ng-class="{active: $isActive('/password')}"><a href="#/password">Endre passord</a></li>
                <li ng-show="$user.role == 'admin'" class="divider"></li>
                <li ng-show="$user.role == 'admin'" ng-class="{active: $isActive('/groups')}"><a href="#/groups">Grupper</a></li>
                <li ng-show="$user.role == 'admin'" ng-class="{active: $isActive('/users')}"><a href="#/users">Brukere</a></li>
            </ul>
        </div>
      <!-- navbar -->
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a  ng-cloak ng-if="$navigation.right &amp;&amp; $navigation.right.type === 'link'" class="right" href="#{{$navigation.right.url}}">{{$navigation.right.title}}</a>
            <button  ng-cloak ng-if="$navigation.right &amp;&amp; $navigation.right.type === 'action'" class="right btn btn-link" ng-click="$navigation.$scope.$eval($navigation.right.action)">{{$navigation.right.title}}</button>
            <button ng-click="val.showHiddenMenu = true"  class="left menu btn btn-link" ng-if="$navigation.left &amp;&apm; $navigation.left.type === 'menu'" ng-cloak>&nbsp;</button>
          <a  ng-cloak class="left" ng-if="$navigation.left &amp;&apm; $navigation.left.type !== 'menu'" ng-class="{arrow: $navigation.left.type === 'back'}" ng-href="#{{$navigation.left.url}}">{{$navigation.left.title}}</a>
          <span  ng-cloak class="title">{{$navigation.title}}</span>
          <a class="navbar-brand" href="#/">Defero</a>

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse" ng-cloak>
          <ul class="nav navbar-nav">
              <li ng-class="{active: $isActive('/') || $isActive('/conversation%')}"><a href="#/">Samtaler</a></li>
              <li ng-class="{active: $isActive('/notes')}"><a href="#/notes">Notater</a></li>
              <li ng-class="{active: $isActive('/password')}"><a href="#/password">Endre passord</a></li>
              <li ng-show="$user.role == 'admin'" ng-class="{active: $isActive('/groups')}"><a href="#/groups">Grupper</a></li>
              <li ng-show="$user.role == 'admin'" ng-class="{active: $isActive('/users')}"><a href="#/users">Brukere</a></li>
          </ul>

          <ul ng-cloak class="nav navbar-nav pull-right" ng-if="$navigation.action">
            <li ng-if="$navigation.action.type === 'link'">
              <a ng-href="#{{$navigation.action.url}}">{{$navigation.action.title}}</a>
            </li>
            <li ng-if="$navigation.action.type === 'action'">
              <button ng-click="$navigation.$scope.$eval($navigation.action.action)" class="btn-link btn">{{$navigation.right.title}}</button>
            </li>
            <!--<li ng-if="$navigation.action.url"><a ng-href="#{{$navigation.action.url}}">{{$navigation.action.title}}</a></li>-->
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

      <!-- Add your site or application content here -->
      <div class="container main" ng-cloak>
        <div ng-repeat="alert in $alert.items" class="alert alert-{{alert.type}}">
          <button type="button" class="close" aria-hidden="true" ng-click="alert.destroy()">&times;</button>
          {{alert.message}}
        </div>

        <div ng-fragments>
        </div>
      </div>
    </div>


    <!-- build:js scripts/lib.js -->
    <script src="/bower_components/jquery/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/marked/lib/marked.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/scripts.js -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/user/list.js"></script>
    <script src="/scripts/controllers/user/edit.js"></script>
    <script src="/scripts/controllers/user/user.js"></script>
    <script src="/scripts/controllers/user/new.js"></script>
    <script src="/scripts/controllers/user/editPassword.js"></script>
    <script src="/scripts/controllers/conversation/main.js"></script>
    <script src="/scripts/controllers/conversation/list.js"></script>
    <script src="/scripts/controllers/conversation/inquiry.js"></script>
    <script src="/scripts/controllers/conversation/new.js"></script>
    <script src="/scripts/controllers/note/list.js"></script>
    <script src="/scripts/controllers/note/edit.js"></script>
    <script src="/scripts/controllers/note/note.js"></script>
    <script src="/scripts/controllers/note/new.js"></script>
    <script src="/scripts/controllers/group/list.js"></script>
    <script src="/scripts/controllers/group/edit.js"></script>
    <script src="/scripts/controllers/login.js"></script>
    <script src="/scripts/services/utils.js"></script>
    <script src="/scripts/services/users.js"></script>
    <script src="/scripts/services/conversation.js"></script>
    <script src="/scripts/services/notes.js"></script>
    <script src="/scripts/services/contacts.js"></script>
    <script src="/scripts/services/groups.js"></script>
    <script src="/scripts/services/authInterceptor.js"></script>
    <script src="/scripts/services/account.js"></script>
    <script src="/scripts/filters/marked.js"></script>
    <script src="/scripts/filters/db.js"></script>
    <script src="/scripts/modules/fragmentRoute/fragmentRoute.js"></script>
    <script src="/scripts/keyboard.js"></script>
    <!-- endbuild -->
</body>
</html>
