<!--Password-->

<div class="form-horizontal">

	<div class="form-group">
	    <label for="pwOld" class="col-sm-2 control-label">Gammelt passord</label>
	    <div class="col-sm-10">
	    	<input id="pwOld" ng-model="pwOld" type="password" class="form-control"
	               placeholder="Gammelt passord" />
	   	</div>
	</div>

	<div class="form-group">
	    <label for="pw1" class="col-sm-2 control-label">Nytt passord</label>
	    <div class="col-sm-10">
	    	<input id="pw1" ng-model="pw1" type="password" class="form-control"
	               placeholder="Nytt passord" />
	   	</div>
	</div>

	<div class="form-group">
	    <label for="pw2" class="col-sm-2 control-label">Gjennta passord</label>
	    <div class="col-sm-10">
	    	<input id="pw2" ng-model="pw2" type="password" class="form-control"
	               placeholder="Gjennta passord" />
	   	</div>
	</div>

</div>