<button ng-click="saveUser()" ng-disabled="name === ''" class="btn btn-default">Lagre</button>
<button ng-click="deleteUser()" ng-show="user._id" class="btn btn-default">Slett</button> <!--TODO PROMPT-->

<h2>{{user.name || 'Ny bruker'}}</h2>


<!--Password-->

<div class="form-horizontal">

  <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Navn</label>
      <div class="col-sm-10">
        <input id="name" ng-model="user.name" type="text" class="form-control"
                 placeholder="Navn" />
      </div>
  </div>

  <div class="form-group">
      <label for="email" class="col-sm-2 control-label">E-post</label>
      <div class="col-sm-10">
        <input id="email" ng-model="user.email" type="text" class="form-control"
                 placeholder="E-post" />
      </div>
  </div>

  <div class="form-group">
      <label for="pw1" class="col-sm-2 control-label">Nytt passord</label>
      <div class="col-sm-10">
        <input id="pw1" ng-model="user.password" type="password" class="form-control"
                 placeholder="Nytt passord" />
      </div>
  </div>

  <div class="form-group">
      <label for="pw2" class="col-sm-2 control-label">Gjennta passord</label>
      <div class="col-sm-10">
        <input id="pw2" ng-model="pwConfirm" type="password" class="form-control"
                 placeholder="Gjennta passord" />
      </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.role" 
            ng-true-value="admin" ng-false-value=undefined/> Admin
        </label>
      </div>
    </div>
  </div>

</div>