<button ng-click="saveUser()" ng-disabled="user.name === ''" class="btn btn-default">Lagre</button>
<!--<button ng-click="deleteUser()" ng-show="user._id" class="btn btn-default">Slett</button>-->

<h2>{{user.name || 'Ny bruker'}}</h2>
<hr>

<div class="form-group">
    <label for="name">Navn</label>
    <input ng-model="user.name" type="text" id="name" class="form-control"
           placeholder="Skriv inn navn">
</div>
<div class="form-group">
    <label for="email">E-post</label>
    <input ng-model="user.email" type="text" id="email" class="form-control"
           placeholder="Skriv inn e-post">
</div>