<button ng-click="saveUser()" ng-disabled="user.name === ''" class="btn btn-default">Lagre</button>
<!--<button ng-click="deleteUser()" ng-show="user._id" class="btn btn-default">Slett</button>-->

<h2>{{user.name || 'Ny bruker'}}</h2>
<hr>

<div class="form-group">
    <label for="name">Navn</label>
    <input id="name" class="form-control" type="text" ng-model="user.name"
           placeholder="Skriv inn navn">
</div>
<div class="form-group">
    <label for="email">E-post</label>
    <input id="email" class="form-control" type="text" ng-model="user.email"
           placeholder="Skriv inn e-post">
</div>

<!--Password-->
<div class="form-group">
    <label for="pw1">Nytt passord</label>
    <input ng-model="pw1" type="text" id="pw1" class="form-control"
           placeholder="Nytt passord">
</div>
<div class="form-group">
    <label for="pw2">Gjenta nytt passord</label>
    <input ng-model="pw2" type="text" id="pw2" class="form-control"
           placeholder="Gjenta nytt passord">
</div>

<!--Admin-->
<div class="checkbox">
  <label for="admin">Admin</label>
    <input id="admin" type="checkbox" ng-model="user.role"
      ng-true-value="admin" ng-false-value="user">
</div>