<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 conversations">
        <div ng-repeat="conv in conversations" class="conversation" ng-class="{selected: $isActive('/conversation/{{conv._id}}%')}" ng-click="$goTo('/conversation/{{conv._id}}')">
            <div class="image">
                <img ng-src="https://en.gravatar.com/avatar/{{conv.image}}?s=50&r=g" alt="image" />
            </div>
            <div class="topic">{{conv.topic}}</div>
            <br />
            <div class="date">{{conv.lastDate | date}}</div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 messages" ng-if="conversation" ng-include="view">

    </div>
</div>

<div class="row" ng-if="canSend()">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
        <div class="input-group" style="margin-top: 20px;">
        <input type="text" class="form-control" ng-model="newMsg" />
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="send(newMsg); newMsg = '';">Send</button>
        </span>
    </div>
</div>