<div class="new-conv row">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div class="form-group">
                <label for="inputTopic">Topic</label>
                <div class="input-group">
                    <input type="text" class="form-control"
                     id="inputTopic" placeholder="Enter topic" ng-model="topic" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-disabled="!canSend" ng-click="send()">Send!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1 col-lg-1 col-xs-12 col-sm-2">
            <div class="checkbox">
                <label><input type="checkbox" ng-model="inquiry.enable" ng-disabled="!(recipents.length &gt; 1)" /> Inquiry?</label>
            </div>
        </div>
        <div class="col-md-11 col-lg-11 col-xs-12 col-sm-10">
            <input type="text" class="form-control"
             id="inputInquiry" placeholder="Enter inquiry" ng-model="inquiry.value" ng-disabled="!(recipents.length &gt; 1) || !inquiry.enable" />
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12 col-lg-12 hidden-xs hidden-sm">
            <div class="recievers well">
                <h3 style="margin-top: 0px;">Recipients</h3>

                <div class="form-group">
                    <label for="inputFilter">Filter</label> 
                    <input type="text" class="form-control" id="inputFilter" placeholder="Filter"
                     ng-model="filter" />
                </div>

                <div class="row">
                    <div class="col-md-6 col-lg-6 hidden-xs hidden-sm">
                        <fieldset>
                            <legend>Users</legend>

                            <div class="user" ng-repeat="user in filteredUsers = (users | filter:filter | orderBy:'name')"
                             ng-click="user.$selected = toggle(user, false, user.$selected)" ng-class="{selected: user.$selected}">
                                <div class="image">
                                    <img ng-src="https://en.gravatar.com/avatar/{{user.image}}?s=50&amp;r=g"
                                     alt="image" />
                                </div>

                                <div class="name">
                                    {{user.name}}
                                </div>
                            </div>

                            <div class="no-users" ng-if="!filteredUsers.length">
                                No users
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-md-6 col-lg-6 hidden-xs hidden-sm">
                        <fieldset>
                            <legend>Groups</legend>

                            <div class="group" ng-repeat="group in filteredGroups = (groups | filter:filter | orderBy:'name')"
                             ng-click="group.$selected = toggle(group, true, group.$selected)" ng-class="{selected: group.$selected}">
                                <div class="image">
                                    <img ng-src="https://en.gravatar.com/avatar/{{group.image}}?s=50&amp;r=g"
                                     alt="image" />
                                </div>

                                <div class="name">
                                    {{group.name}}
                                </div>
                            </div>

                            <div class="no-groups" ng-if="!filteredGroups.length">
                                No groups
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <div class="hidden-md hidden-lg col-xs-12 col-sm-12">
        <div class="receivers well">
            <ul class="nav nav-tabs">
                <li><a href="#users">Users</a></li>
                <li><a href="#groups">Groups</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="users">
                    <div class="user" ng-repeat="user in filteredUsers"
                     ng-click="user.$selected = toggle(user, false, user.$selected)" ng-class="{selected: user.$selected}">
                        <div class="image">
                            <img ng-src="https://en.gravatar.com/avatar/{{user.image}}?s=50&amp;r=g"
                             alt="image" />
                        </div>

                        <div class="name">
                            {{user.name}}
                        </div>
                    </div>

                    <div class="no-users" ng-if="!filteredUsers.length">
                        No users
                    </div>
                </div>
                <div class="tab-pane" id="groups">
                    <div class="group" ng-repeat="group in filteredGroups"
                     ng-click="group.$selected = toggle(group, true, group.$selected)" ng-class="{selected: group.$selected}">
                        <div class="image">
                            <img ng-src="https://en.gravatar.com/avatar/{{group.image}}?s=50&amp;r=g"
                             alt="image" />
                        </div>

                        <div class="name">
                            {{group.name}}
                        </div>
                    </div>

                    <div class="no-groups" ng-if="!filteredGroups.length">
                        No groups
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>